body {
    background: azure;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: darkblue;
    text-align: center;
}
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: inline-block;
    margin: auto;
}
a {
    text-decoration: none;
    color: purple;
}
.project p {
    text-align: center;
    margin: 15px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  /* Aligns projects to the left */
    gap: 20px;  /* Adds space between project items */
}
.project {
    width: 30%;  /* Adjust width to fit projects side by side */
    margin: 10px 0;  /* Reduced margin to prevent large gaps */
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
    box-sizing: border-box;  /* Includes padding and border in the width */
}
.about {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}
.about p {
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
